:root {
    --color-hover: rgb(189, 185, 185)
}

body {
    font-family: "Lato", sans-serif !important;
    line-height: 1.5 !important;
    overflow-x: hidden !important;
}

a {
    font-size: 15px !important;
    text-decoration: none !important;
    color: white !important;
}

a:hover {
    background-color: var(--color-hover) !important;
}

nav {
    padding: 0.5% 2% !important;
    width: 100% !important;
    box-sizing: border-box !important;
    display: flex !important;
    justify-content: space-between !important;
    position: fixed !important;
    top: 0 !important;
    z-index: 1000 !important;
    border: none !important;
    cursor: pointer !important;
}

h2 {
    margin-top: 10% !important;
}

input {
    padding: 13px 10px !important;
    display: block !important;
    border: 1px solid #ccc !important;
    width: 95% !important;
    margin: 15px 2.5% !important;
    box-sizing: border-box !important;
}

.contact-button {
    margin: 20px 2.5% !important;
    color: #fff !important;
    background-color: #000 !important;
    border: none !important;
    display: inline-block !important;
    padding: 10px 20px !important;
    text-align: center !important;
    cursor: pointer !important;
}

.contact>p {
    padding-left: 1% !important;
}

footer {
    color: rgb(182, 175, 175) !important;
    background-color: white !important;
    padding: 20px !important;
    text-align: center !important;
    width: 100% !important;
    box-sizing: border-box !important;
}